body {
    margin: 0px;
}

.portfolio {
    background-color: #131313;
    background: radial-gradient(#1862b6,#131313,  #131313);
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
    overflow: hidden;
}

.slide {
    display: flex;
}

.slide:hover {
    will-change: transform;
}

.slide li {
    flex-shrink: 0;
    width: 80vw;
    max-width: 800px;
    margin: 0 20px;

    border-radius: 10px;
    overflow: hidden;
    /*box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5) ;*/
    box-shadow: 0 3px 4px #272727;
    opacity: .8;
    transform: scale(.7);
    transition: .4s;
    color: #272727;
    color: white;
    text-align: center;

    background: #f8f8f8;
    background: #131313;
}

.slide li > h2 {
    background-color: #036CE4;
    color: #f8f8f8;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 600;
    margin: auto;
    margin-top: 20px;
}

.slide li > p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    color: white;
}

.slide li.active {
    opacity: 1;
    transform: scale(.9);   
}

[data-control = "slide"] {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.custom-controls {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.custom-controls li {
    opacity: .8;
    transform: scale(.5);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin: 2px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    transition: .3s;
    background-color: #696969;
}

.custom-controls li.active {
    opacity: 1;
    transform: scale(.8);
    /*background: #4540CB;*/
    background: linear-gradient(#131313 , #272727);
}
