
/* =============== GOOGLE FONTS ============== */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Roboto+Condensed:wght@300&family=Rubik:wght@300&display=swap');

:root {

    --header-height: 3rem;

    /*===========FONT OF TYPOGRAPHY ============= */
    --body-font: 'Poppins', sans-serif;

    /*.5rem = 8px , 1rem = 16px , 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*============= MARGENES BOTTOM ============ */
    /*.25 rem = 4px , .5rem = 8px , .75rem = 12px ... */
    --mb-0-25: .25rem; 
    --mb-0-5: .5rem;
    --mb-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

}

  /* ========== font size for large devices ========= */
  @media screen and (min-width: 968px) {
    :root { 
       --big-font-size: 2.3rem;
       --h1-font-size: 2rem; 
       --h2-font-size: 1.5rem;
       --h3-font-size: 1.25rem;
       --normal-font-size: 1rem;
       --small-font-size: .875rem;
       --smaller-font-size: .813rem;
    }
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background: #131313;*/
    background: #fbfbfb;
    /*font-family: 'Chakra Petch', sans-serif;*/
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-family: 'Rubik', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* =============  CLASSE DE CSS REUSAVEIS ======== */

.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size);
    /*color: #e7e7e7;*/
    color: #202020;
}

.section__subtitle {
    display: block;
    /*font-size: var(--small-font-size);*/
    font-size: 18px;
    margin-bottom: var(--mb-3);
    /*color: #e7e7e7e1;*/
    color: #353535;
}

.section__title, 
.section__subtitle {
    text-align: center;
    font-weight: 400;
}

/* ============= LAYOUT ================== */
.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/*================== BARRA DE ROLAGEM (SCROLL) ======= */
::-webkit-scrollbar {
    background: #272727;
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background: #e7e7e7;
    width: 3px;
    border-radius: 20px;
}

/* ==================== HEADER ================ */

.header {
    position: fixed;
    background: #1d1d1f9f;
    /*background: linear-gradient(#141c2b, #3692fc);*/
    border-bottom: 1px solid #1D1D1F;
    box-shadow: 0 2px 2px grey;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 50px;
    /*position: fixed;*/
    width: 100%;
    z-index: 2000;
}

.btn-mobile {
    display: none;
}

.header > a {
    font-size: 30px;
    color: rgb(224, 224, 224);
    margin-left: 20px;
    text-decoration: none;
}

.menu {
    /*font-family: var(--body-font);*/
    display: flex;
    margin-right: 50px;
    align-content: center;
    background-color: #444444;
    background: #131313;
    border-radius: 40px;
}

.menu > li {
    list-style: none;
}

.menu > li > a {
    display: block;
    font-weight: 400;
    font-size: 16px;
    padding: 5px 10px 8px 10px;
    background: transparent;
    border-radius: 8px;
    margin-left: 10px;
    color: #202020;
    color: #fff;
    text-decoration: none;
}

.menu > li > a:hover {
    color: #C6F05D;
}

.logo > h2 {
    /*background: linear-gradient(#131313, #302f2f);*/
    border-radius: 20px;
    color: #e7e7e7;
    font-family: 'rubik', sans-serif;
    font-size: 28px;
    /*padding: 10px;
    border: 1px groove #131313;
    box-shadow: 0 2px 2px #131313;*/
}

.logo > h2:hover {
    transition: .5s linear;
    /*background: linear-gradient(#6E57E0, #806ce0);*/
    color: #808080ab;
    box-shadow: 0px 0px 0px;
}

/* ========================== MAIN ======================= */

/*============ BUTTONS ========*/


.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}


.button--flex {
    display: inline-flex;
    align-items: center;
}

.button--small {
    padding: .75rem 1rem;
}

.button--link {
    padding: 5px;
    /*background-color: transparent;
    color: var(--first-color);*/
    color: #131313;
}

.button--link:hover {
    /*background-color: transparent;*/
    text-decoration: underline; 
}

/* ========================== INICIO ======================= */
.parteInicio {
    padding: 0;
    margin: 0;
    height: 715px;
    display: grid;
    /*grid-template-columns: 2fr 1fr;
    grid-template-rows: 325px 325px;*/
    grid-template-areas: "a b"
                         "c b";
    row-gap: 30px;
    /*background: #e7e7e7;*/
    /*background: #6b6b6bc0;
    background: linear-gradient(#6E57E0 , #da1cca);
    background: url(imgCss/fundoIniciocinza-inicial.png);*/
}

.spanTitulo {
    margin-top: 100px;
    align-items: flex-start;
    margin-left: 25px;
    margin-right: 20px;
    grid-column: 1;
    grid-area: a;
    background: #f0f0f0;
    /*background: linear-gradient(#3692fc, #141c2b);
    background: url(imgCss/fundo-site2.jpg);*/
    background: url(imgCss/fundoLupa\ \(1\).jpg);
    border-radius: 5px;
}

.spanTitulo > p {
    margin-left: 40px;
    margin-top: 200px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    line-height: 26px;
    background-color: #c5c5c57a;
    padding: 8px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px #202020;
    text-align: center;
}

.tituloPrincipal {
    position: absolute;
    width: 610px;
    font-size: 32px;
    font-weight: 400;
    margin-top: 55px;
    margin-left: 40px;
    /*color: #e7e7e7;*/
    color: #3f3f3f;
    color: #fefefe;
    text-shadow: 0px 1px 1px grey;
}

.tituloPrincipal::after {
    content: "|";
}

.tecnologiasUsadas{
    position: absolute;
    top: 395px;
    margin-left: 290px;
    width: 130px;
}

.uil-youtube {
    font-size: 25px;
    color: #757575a9;
    cursor: pointer;
    margin-right: 20px;
}

.uil-instagram-alt {
    font-size: 25px;
    color: #757575a9;
    cursor: pointer;
    margin-right: 20px;
}

.uil-facebook {
    font-size: 25px;
    color: #757575a9;
    cursor: pointer;
}

/*========== PARTE DAS REDES SOCIAIS INICIO ======== */
#projetosRealizados {
    grid-area: c;
    background: #f0f0f0;
    border-radius: 8px 8px 0px 0px;
    width: 695px;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 0px 1px 1px rgb(199, 199, 199);

    margin-top: 20px;
    margin-left: 10px;
    grid-column: 1;
}

.projetosPagInicio > h3 {
    text-align: center;
    margin: auto;
    padding: 10px;
    color: #1D1D1F;
    /*background: #1D1D1F;*/
    width: 400px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
}

 .projetosIniciaisContainer {
    margin: 8px;
    display: flex;
    gap: 12px;
 }

 .projContent {
    padding: 5px;
    margin-top: 8px;
    width: 155px;
    height: 190px;
    box-shadow: 0 2px 2px grey;
    border-radius: 6px;
    /*background: linear-gradient(#806ce0, #5740c7);*/
    background: #1D1D1F;
    background: #8383831f;
    text-align: center;
    color: white;
 }

 .projContent > h3 {
    color: #272727;
    /*color: white;*/
    padding-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
 }

 .projContent > h2 {
    color: #757575a9;
    font-size: 46px;
    font-weight: 300;
    text-shadow: 0 2px 2px #1313138a;
 } 

 .projContent > p {
    color: #fff;
    color: #131313;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
 }


/* ============== Parte B inicio (PARTE DA DIREITA) =========== */


.parteBInicio {
    margin-top: 100px;
    margin-bottom: 20px;
    /*background: rgb(235, 235, 235);*/
    background: #f0f0f0;
    /*background: #131313;*/
    border-radius: 8px 8px 0px 0px;
    padding: 30px;
    box-shadow: 0px 1px 1px rgb(199, 199, 199);
    width: 620px;
    grid-area: b;
    text-align: center;
    align-content: center;
}

.estamosProd {
    padding: 10px;
    color: #131313;
    margin-bottom: 15px;
    text-align: left;
    background: #E3E3E3;
    border-radius: 8px;
}

.estamosProd > h3 {
    color: #fff;
    color: #131313;
    /*color: #C6F05D;*/
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.estamosProd > h3::before {
    content: "| ";
    color: #036CE4;
    color: #141c2b;
}

.parteBInicio > .estamosProd > p {
    font-weight: 600;
    font-size: 13px;
    color: #13131391;
}

.link--proj {
    color: rgb(0, 140, 255);
}

.imagensProjFuturo {
    display: flex;
    margin: auto;
    gap: 15px;
}

/* ====== efeito de imagens ======== */

.imgInicioProj {
    width: 270px;
    height: 170px;
    box-shadow: 0 2px 2px grey;
    border-radius: 5px;
    background: url(imgCss/1.png);
}

.imgInicioProj > p {
    opacity: 0;
}

.imgInicioProj:hover > p {
    transition: .6s;
    width: 270px;
    height: 170px;
    padding: 30px 10px 10px 10px;
    opacity: 0.9;
    background: #747474;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}

.imgInicioProjSeg {
    width: 270px;
    height: 170px;
    box-shadow: 0 2px 2px grey;
    border-radius: 5px;
    background: url(imgCss/2.png)
}

.imgInicioProjSeg > p {
    opacity: 0;
}

.imgInicioProjSeg:hover > p {
    transition: .6s;
    width: 270px;
    height: 170px;
    padding: 30px 10px 10px 10px;
    opacity: 0.9;
    background-color: #6E57E0;
    background: #747474;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}


/* =======  button MODAL ===== */

.estruturaForm {
    height: 280px;
}

.buttonContact {
    padding: 15px;
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
    color: #036CE4;
}

.buttonContact h3 {
    font-weight: 200;
}

.buttonContact:hover {
    text-decoration: underline;
    transition: .7s;
}

.formContato {
    display: grid;
    padding: 15px;
    margin-top: 20px;
    width: 570px;
    height: 300px;
    box-shadow: 0 2px 2px rgba(128, 128, 128, 0.418);
    border-radius: 5px;
    background: #E3E3E3;
    align-items: flex-start;
    opacity: 0;
    justify-items: flex-start;
    text-align: left;
    row-gap: 20px;
}

.formContato > div > label {
    color: #272727;
    font-weight: 300;
}

.formContato > div > input {
    width: 400px;
    background-color: #fff;
    color: black;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.formContato > div > textarea {
    background: #fff;
    margin-top: 5px;
    color: white;
    color: black;
    font-weight: 400;
    font-family: var(--body-font);
    padding: 6px;
    border-radius: 5px;
    border: none;
}

.buttonForm {
    width: 150px;
    padding: 12px;
    /*background: linear-gradient(green, greenyellow);*/
    background: #C6F05D;
    color: #1D1D1F;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 2px grey;
    cursor: pointer;
    margin-left: 400px;
}
/* ======= ENTRADA DE FORMULARIO ====== */

.formContato.animate {
    animation: slide 1s forwards;
}

@keyframes slide {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ========================== BOXES (services) ========================= */

.parteDois {
    display: flex;
    margin-top: 50px;
}

.boxes {
    margin: 10px;
    height: 400px;
    width: 735px;
    background: #F0F0F0;
    /*background: #131313;*/
    box-shadow: 0px 2px 2px rgb(199, 199, 199);
    padding: 20px 0px 10px 0px;
}

.boxes > .section__subtitle {
    color: #131313;
    /*color: #444444;*/
    margin-bottom: 15px;
    font-size: 14px;
}

.h2Apresentacao {
    color: #202020;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.spanApresentacao {
    width: 420px;
    margin: auto;
    margin-bottom: 20px;
}

.services__container {
    gap: 1.5rem;
    margin: 10px;
    /*grid-template-columns: repeat(2, 1fr);*/
    display: flex;
    flex-wrap: wrap;
}

.services__content {
    position: relative;
    width: 140px;
    height: 160px;
    /*background: linear-gradient(#202020 , #313131);*/
    background-color: #e3e3e38e;
    margin-top: 10px;
    margin: auto;
    /*padding: 4rem .8rem 1.70rem 1.8rem;*/
    padding: 15px;
    border-radius: .25rem;
    /*box-shadow: 0 2px 2px #a393f3;*/
    box-shadow: 0 2px 2px rgba(128, 128, 128, 0.555);
    transition: .3s;
}

.services__icon {
    display: block;
    font-size: 1.5rem;
    /*color: var(--first-color);*/
    color: #494949ab;
    margin-bottom: var(--mb-1);
}

.uil-windows {
    margin-top: 20px;
    color: #036CE4;
    font-size: 1.5rem;
}

.services__title {
    font-size: 14px;
    margin-bottom: var(--mb-1);
    font-weight: 600;
    color: #494949ab;
}

.services__button {
    cursor: pointer;
    /*background: #036CE4;*/
    background: none;
    color: rgb(36, 124, 255);
    font-size: 12px;
}

.services__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#1a1919dc, #0d0d0ee3);
    background: radial-gradient(#9b9b9b9c, #7474744b);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.services__modal-content {
    position: relative;
    /*background: #131313;*/
    height: 450px;
    width: 750px;
    background-color: #fefefe;
    padding: 2.5rem;
    border-radius: .5rem;
    border: 1px solid black;
    box-shadow: 0 2px 2px #131313;
    color: #131313;
}

.services__modal-services {
    row-gap: .5rem;
}

.services__modal-service {
    display: flex;
    border-radius: 15px;
    /*background: linear-gradient(#5740c7, #7d6ecc);*/
    padding: 5px;
}

.services__modal-service p {
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1D1D1F;
}

.titleBoxPrincipal {
    margin: auto;
    color: #7d6ecc;
}

.envolver-conquistas {
    margin-top: 40px;
    max-width: 100%;
    background: #036CE4;
    border-radius: 20px;
}

.conquistas__qsomos {
    display: flex;
    margin: auto;
    gap: 20px;
    justify-content: space-around;
    padding: 5px;
}

.services__modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.6rem;
    /*color: var(--first-color);*/
    color: red;
    cursor: pointer;
    background: rgb(83, 3, 3);
    border-radius: 55%;
}

.services__modal-icon {
    color: var(--first-color);
    margin-right: var(--mb-0-25);
}

/*  active modal */
.active-modal {
    opacity: 1;
    visibility: visible;
}

/* =========== PROPAGANDA ============= */

.propaganda {
    margin: 10px;
    height: 400px;
    width: 650px;
    background: url(imgCss/3.png);
    background: #F0F0F0;
    box-shadow: 0px 2px 2px rgb(199, 199, 199);
    padding: 20px 0px 10px 0px;
}

.partevideos {
    width: 480px;
    padding: 20px;
    margin: auto;
    text-align: center;
    background: #d4d4d4af;
    border-radius: 20px;
    align-self: center;
}

.partevideos h2 {
    color: white;
    color: #3d3d3d9c; 
    /*color: #131313;*/
    font-weight: 600;
    font-size: 20px;
}

.partevideos > p {
    color: #3d3d3dc2;
    /*color: #202020;*/
    font-weight: 400;
    font-size: 14px;
}

.propaganda > .video-video {
    margin: auto;
    padding-top: 10px;
    width: 480px;
}

.video-video > iframe {
    border-radius: 20px;
    box-shadow: 2px 2px 2px grey;
}

/* =================== PROFISSIONAIS ===================== */

.profissionais {
    height: 600px;
    margin-bottom: 35px;
    
}

.card {
    display: grid;
    grid-template-areas: "a b b"
                         "d d d";

    grid-template-columns: 100px;
    grid-template-rows: 120px;

    /*background: rgba(241, 241, 241, 0.918);*/
    /*background: linear-gradient(#555555 , #3f3f3f);*/
    background: linear-gradient(#131313 , #272727);
    background-color: #131313;
    max-width: 750px;
    height: 270px;
    margin: auto;
    padding: 15px;
    box-shadow: 0 2px 2px #131313cc;
    border: 1px groove #202020;
    border-radius: 15px;
    justify-content: space-around;

    opacity: 0;
    transform: translateY(15px);
}

.card > img {
    width: 100px;
    height: 120px;
    background-color: #3692fc;
    grid-area: a;
    border-radius: 50%;
}

.card > .descricao {
    background-color: #4b4b4b;
    grid-area: b;
    max-width: 500px;
    height: 110px;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
    color: #fff;
    border: 1px groove #e7e7e7;
}

.card > .mensagemDev {
    grid-area: d;
    background-color: #3692fc;
    color: #131313;
    border: 1px groove #e7e7e7;
    border-radius: 10px;
    max-width: 600px;
    height: 140px;
    /*margin-left: 135px;*/
    margin-top: 20px;
    overflow-y: scroll;
    box-shadow: 2px 2px 2px black;
}

.mensagemDev > p {
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
}

/* animando card com js */

.cardAtivo {
    animation: slideCard 1s forwards;
}

@keyframes slideCard {
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}


/* ======================= DEPOIMENTOS ================= */

.depoimentos {
    margin-bottom: 0px;
    padding-top: 20px;
}

.depoimentos > .section__title {
    color: #272727;
}

.depoimentos > .section__subtitle {
    color: #353535;
}

.listaDeDps {
    max-width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.dpColum1 {
    grid-column: 1;
}

.dpColum2 {
    grid-column: 2;
}

.dpColum3 {
    grid-column: 3;
}

.depoimentoCard {
    color: #e7e7e7;
    color: #272727;
    /*background: linear-gradient(#6E57E0, #dc6ce091);*/
    background: linear-gradient(#6E57E0, #7d6ecc);
    background: #e7e7e7;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.depoimentoCard > h2 {
    font-size: 16px;
}

.depoimentoCard > p {
    font-size: 13px;
}


/* ========================== PLANOS =================== */

.planos {
    margin-top: 0px;
    height: 700px;
}

.planos__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    max-width: 80%;
    margin: 0;
}

.planos__content {
    background: #4b4b4b;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #C6F05D;
    width: 280px;
    text-align: center;
    box-shadow: 0px 2px 2px #202020;
}

.preco--plano {
    background: #C6F05D;
    border-radius: 15px;
    width: 120px;
    margin: 5px 0px 0px 35px;
    position: relative;
    top: 30px;
    padding: 10px;
}

.descricao--plano {
    color: white;
}

.descricao--plano > h2 {
    color: #6E57E0;
    font-size: 26px;
    margin-bottom: 10px;
    padding: 12px;
    background: #6e6e6e;
    border-radius: 20px;
}

.descricao--plano > p {
    color: #e7e7e7;
    padding: 15px;
}

.descricao--plano > p > span {
    color: rgb(255, 238, 0);
}

.descricao--plano > p > .javaSpan {
    color: red;
}

/*=== recomendado PLANOS === */
.recomendadoPlano {
    position: absolute;
    height: 32px;
    padding: 8px;
    background: #C6F05D;
    color: #131313;
    border-radius: 20px;
    font-size: 11px;
    font-weight: 400;
    bottom: -172rem;
}
/* ============ PLANO ATIVO (EXPLICACAO) ============= */

.explicacao_plano {
    opacity: 0;
    visibility: hidden;
}

.planoAtivo {
    opacity: 1;
    visibility: visible;
    background: #6E57E0;
    border-radius: 20px;
}

/* =================== MAPA DO SITE ================ */

.descricaoMapaSite {
    height: 310px;
    background: #e7e7e7;
    /*margin: 50px 0px 0px 0px;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.funcionamento {
    display: flex;
    flex-wrap: wrap;
    width: 235px;
    border: 1px solid black;
    padding: 6px;
    background: #0c0c0fa4;
    border-radius: 10px;
}
.funcionamento > h3 {
    color: #e7e7e7;
    font-weight: 400;
    font-size: 12px;
}
.funcionamento > p {
    color: #e7e7e7;
    font-size: 12px;
}

[data-semana]::after {
    display: inline-block;
    content: "";
    width: 10px;
    height: 12px;
    background: red;
    border-radius: 50%;
    margin-left: 8px;
    border: 1px solid black;
}

[data-semana].aberto::after {
    background: greenyellow;
}

.mapa-numeros /* ESTA CLASSE SERVE PARA OS NUMEROS E DUVIDAS */ {
    margin: 10px 0px 0px 25px;
}

.numeros_hover /* ESTA CLASSE SERVE PARA OS NUMEROS E DUVIDAS */{
    color: #6E57E0;
    margin-bottom: 15px; 
}

/* ================== FOOTER ============= */

.footer {
    background: #6E57E0;
    height: 45px;
}
