
/* ============== MEDIA QUERIES ======== */

/* para menores tamanhos */
@media  screen and (max-width: 400px) {

    h1 {
        font-size: 1.5rem;
    }

    /* header */
.header {
    max-width: 400px;
}

.funcionamento {
    width: 70px;
    margin: 0px;
    font-size: 12px;
}
.funcionamento > p {
    display: none;
}

 /*============ parte inicial do site ========= */
    .parteInicio {
        text-align: center;
    }

    #ativarFrase > .frase {
        width: 260px;
    }

    .frase > p {
        margin: auto;
        font-size: .6rem;
        width: 250px;
    }
    
    .spanTitulo {
        width: 270px;
        color: #131313;
    }
    
    .tituloPrincipal {
        font-size: 1.1rem;
        font-weight: var(--font-light);
        width: 300px;
        text-align: center;
        margin: auto;
        margin-top: 10px;
    }

    .spanTitulo > p {
        font-size: .7rem;
    }

/*.container {
         margin-left: var(--mb-1);
         margin-right: var(--mb-1);
    } */

    #boxes {
        max-width: 400px;
    }
 
    .services__container {
        grid-template-columns: repeat(4, 1fr);
        max-width: 400px;
        height: 250px;
        overflow-x: scroll;
    }

    .services__container::-webkit-scrollbar {
        height: 8px;
        background: #e7e7e7;
    }

    .services__container::-webkit-scrollbar-thumb {
        background: #6E57E0;
    }

    .services__content {
        width: 150px;
    }

    /* ========== PLANOS ========== */
    .planos__container {
        display: block;
    }

    .planos__content {
        margin-bottom: 15px;
    }

}



 /* =================== para tamanho medio =============== */

 @media screen and (min-width: 568px) {
 
     .portfolio__container {
         margin: auto;
         width: 800px;
     }
 
     .portfolio__content,
     .about,
     .contact__container,
     .footer__container{
         grid-template-columns: repeat(2 , 1fr);
     }
 
     .qualification__sections {
         display: grid;
         grid-template-columns: .6fr;
         justify-content: center;
     }
 }
 
 @media screen and (min-width: 768px ){
    .container {
     margin-left: auto;
     margin-right: auto;
    } 
 
    body {
     margin: 0;
    }
 
    .section{
     padding: 6rem 0 2rem;
    }
 
    .section__subtitle {
     margin-bottom: 4rem;
    }
 
    .header,
    .main,
    .footer__container {
     padding: 0 1rem;
    }
 
    .nav {
     height: calc(var(--header-height) + 1.5rem);
     column-gap: 1rem;
    }
 
    .nav__icon, .nav__close , .nav__toggle {
     display: none;
    }
 
    .nav__list {
     display: flex;
     column-gap: 2rem;
    }
 
    .nav__menu{
     margin-left: auto;
    }
 
 }
 
 
     /* para tamanho grandes */
 
 @media screen and (min-width: 1024px) {
     .header, .main , .footer__container {
         padding: 0;
     }

     .services__container {
         grid-template-columns: repeat(4, 238px);
         margin: 0px 0px 0px 150px;
     }
 
     .portfolio__content {
         column-gap: 5rem;
     }
 
     .swiper-portfolio-icon {
         font-size: 3.5rem;
     }
 
     .swiper-button-prev {
         left: -3.5rem;
     }
     .swiper-button-next {
         right: -3.5rem;
     }
 
     .swiper-container-horizontal > .swiper-pagination-bullets {
         bottom: -4.5rem;
     }
 }