
/* ============== MEDIA QUERIES ======== */

        /* ============PARA MENORES TANMANHOS ================== */

@media  screen and (max-width: 400px) {

    h1 {
        font-size: 1.5rem;
    }

    /* header */
    .header {
        max-width: 100%;
    }

    .main {
        max-width: 100%;
    }

    .funcionamento {
        width: 70px;
        margin: 0px;
        font-size: 12px;
    }
    .funcionamento > p {
        display: none;
    }

 /*============ parte inicial do site ========= */
    .parteInicio {
        grid-template-columns: 350px;
        grid-template-rows: 450px 300px 350px;
        text-align: center;
        align-items: flex-start;
        height: 1100px; 
        max-width: 400px;
    }
    
    .spanTitulo {
        width: 380px;
        height: 550px;
        /*background: #6E57E0;*/
        margin: auto;
        padding-top: 120px;
    }
    
    .tituloPrincipal {
        position: absolute;
        /*font-size: 1.2rem;*/
        font-size: 33px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        width: 290px;
        margin: 5px 0px 0px 15px;
        text-align: start;
        color: white;
    }

    .spanTitulo > p {
        font-size: .7rem;
        width: 280px;
        text-align: center;
        margin: auto;
        line-height: 14px;
        margin-top: 230px;
        color: #fff;
        background: #c4c4c46c;
    }

    .tecnologiasUsadas {
        margin-left: 130px;
        top: 400px;
        background: #57a2e0;
        border-radius: 5px;
    }

    /* ===== PARTE B INICIO ====== */

    .projetosPagInicio {
        margin-top: 20px;
        max-width: 350px;
        grid-column: 1;
        grid-row: 3;
    }

    .projetosPagInicio > h3 {
        font-size: 15px;
        width: 300px;
    }

    .parteBInicio {
        grid-row: 2;
        grid-column: 1;
        height: 190px;
        max-width: 350px;
        margin-left: 15px;
    }

    .estamosProd {
        max-width: 380px;
        font-size: 14px;
    }

    .estamosProd > h3 {
        font-size: 15px;
    }

    .parteBInicio > .estamosProd > p {
        font-size: 12px;
        font-weight: lighter;
    }

    .imagensProjFuturo {
        margin: 0;
        height: 300px;
        display: none;
    }

    /* =================== PROJETOS REALIZADOS ============= */

    #projetosRealizados {
        margin-top: 320px;
        width: 350px;
        height: 450px;
    }

    #projetosRealizados p {
        color: white;
    }

    .projetosIniciaisContainer {
        display: flex;
        flex-wrap: wrap;
        height: 300px;
        max-width: 320px;
        justify-content: space-around;
    }

    .projContent {
        width: 100px;
        height: 140px;
    }

    .projContent h3 {
        font-size: 12px;
    }

    .projContent > h2 {
        font-size: 25px;
        margin: 0px;
    }

    .projContent p {
        font-size: 12px;
    }

    .buttonContact {
        position: absolute;
       top: 1167px;
        font-size: 15px;
    }

       /* =========== FORMULARIO MODAL ========== */
    .formContato {
        max-width: 330px;
        margin-top: -21px;
        height: 393px;
    }   

    .formContato > div > label {
        color: #202020;
        font-weight: 600;
    }
    
    .formContato > div > input {
        width: 200px;
        background-color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 2px #2020209c;
    }
    
    .formContato > div > textarea {
        background: #fff;
        padding: 6px;
        border-radius: 6px;
        box-shadow: 0 1px 1px #202020;
        border: none;
        width: 280px;
    }

    .buttonForm {
        margin-left: 100px;
    }

    /*======== PARTE 2 E PROPAGRANDA ============ */

    .parteDois {
        max-width: 400px;
        flex-direction: column;
    }

    .boxes {
        width: 350px;
        height: 520px;
        margin-top: 120px;
    }

    .spanApresentacao {
        width: 260px;
    }
/* =============== SERVICES =========== */
    .services__content {
        width: 120px;
    }

    .services__content > div > h3 {
        font-size: 12px;
    }

    /*======================= SERVICES MODAL ================= */

    .services__modal-content {
        margin-top: 50px;
        height: 420px;
        overflow-y: scroll;
    }

    .services__modal-content::-webkit-scrollbar {
        width: 5px;
        background-color: #6E57E0;
    }

    .services__modal-content::-webkit-scrollbar-thumb {
        background-color: #e7e7e7;
        border-radius: 8px;
    }


    /* ============= PROPAGANDA ============ */

    .propaganda {
        width: 360px;
    }

    .partevideos {
        width: 350px;
    }

    .partevideos h2 {
        font-size: 15px;
    }

    .partevideos p {
        font-size: 13px;
    }

    .video-video {
        max-width: 330px;
        margin: none;
    }

    .video-video iframe {
        width: 324px;
        height: 175px;
        margin: 0px;
    }


    /* ========== PLANOS ========== */
    .planos__container {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        justify-items: center
    }

    .planos__content {
        margin-bottom: 15px;
    }


    /* ======================= DEPOIMENTOS ================= */

    .listaDeDps {
        /*display: flex;*/
        grid-template-columns: 1fr;
        justify-items: center;
        height: 400px;
        margin: auto;
        background: transparent;
    }

    .dpColum1 {
        width: 300px;
        text-align: center;
    }

    .dpColum2 , .dpColum3 {
        display: none;
    }

    /* =========== MAPA DO SITE ============ */

    .descricaoMapaSite {
        display: block;
        height: 600px;
    }

    .mapa-numeros > ul {
        display: flex;
        flex-wrap: wrap;
    }
}









 /* =================== para tamanho medio =============== */

 @media screen and (min-width: 568px) {
 
     .portfolio__container {
         margin: auto;
         width: 800px;
     }
 
     .portfolio__content,
     .about,
     .contact__container,
     .footer__container{
         grid-template-columns: repeat(2 , 1fr);
     }
 
     .qualification__sections {
         display: grid;
         grid-template-columns: .6fr;
         justify-content: center;
     }
 }
 
 @media screen and (min-width: 768px ){
    .container {
     margin-left: auto;
     margin-right: auto;
    } 
 
    body {
     margin: 0;
    }
 
    .section{
     padding: 6rem 0 2rem;
    }
 
    .section__subtitle {
     margin-bottom: 4rem;
    }
 
    .header,
    .main,
    .footer__container {
     padding: 0 1rem;
    }
 
    .nav__icon, .nav__close , .nav__toggle {
     display: none;
    }
 
    .nav__list {
     display: flex;
     column-gap: 2rem;
    }
 
    .nav__menu{
     margin-left: auto;
    }
 
 }
 
 
     /* para tamanho grandes */
 
 @media screen and (min-width: 1024px) {
     .header, .main , .footer__container {
         padding: 0;
     }
 
     .portfolio__content {
         column-gap: 5rem;
     }
 
 }