
/* ============== MEDIA QUERIES ======== */

        /* ============PARA MENORES TANMANHOS ================== */

@media  screen and (max-width: 400px) {

    h1 {
        font-size: 1.5rem;
    }

    /* header */
    .header {
        max-width: 100%;
    }

    .funcionamento {
        width: 70px;
        margin: 0px;
        font-size: 12px;
    }
    .funcionamento > p {
        display: none;
    }

 /*============ parte inicial do site ========= */
    .parteInicio {
        grid-template-columns: 400px;
        grid-template-rows: 100px 200px 150px;
        text-align: center;
        height: 1100px; 
        max-width: 400px;
    }

    #ativarFrase > .frase {
        width: 260px;
        margin-top: 50px;
    }

    .frase > p {
        margin: auto;
        font-size: .6rem;
        width: 250px;
    }
    
    .spanTitulo {
        width: 300px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    .tituloPrincipal {
        position: relative;
        /*font-size: 1.2rem;*/
        font-size: 20px;
        font-weight: var(--font-light);
        width: 290px;
        text-align: center;
        margin: auto;
        margin-top: 5px;
    }

    .spanTitulo > p {
        font-size: .7rem;
        width: 280px;
        text-align: center;
        margin: auto;
        line-height: 14px;
        margin-top: 10px;
    }

    #ativarFrase {
        display: none;
    }

    /* ===== PARTE B INICIO ====== */

    .parteBInicio {
        margin: 0;
        grid-row: 2;
        grid-column: 1;
        height: 420px;
        max-width: 390px;
        margin-top: 30px;
    }

    .estamosProd {
        max-width: 380px;
        font-size: 14px;
    }

    .imagensProjFuturo {
        margin: 0;
        height: 300px;
    }

    /* =================== PROJETOS REALIZADOS ============= */

    #projetosRealizados {
        margin-top: 320px;
    }

    .projetosIniciaisContainer {
        display: flex;
        flex-wrap: wrap;
        max-width: 360px;
    }

    .projContent {
        width: 150px;
        height: 160px;
    }



       /* =========== FORMULARIO MODAL ========== */
    .formContato {
        max-width: 330px;
    }   

    .formContato > div > label {
        color: #202020;
        font-weight: 600;
    }
    
    .formContato > div > input {
        width: 200px;
        background-color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 2px #2020209c;
    }
    
    .formContato > div > textarea {
        background: #fff;
        padding: 6px;
        border-radius: 6px;
        box-shadow: 0 1px 1px #202020;
        border: none;
        width: 280px;
    }

    .buttonForm {
        margin-left: 100px;
    }

/*.modal__form {
        max-width: 100%;
    }

    .formularioGrid {
        display: flex;
        flex-wrap: wrap;
        max-width: 350px;
    }

    .modal__form > label, input{
        max-width: 320px;
    }

    .mensagemParaEmail > textarea {
        max-width: 320px;
    }

    .text--form {
        font-size: 16px;
    }

    .modal__form-close {
        top: 90px;
        right: 2px;
    }*/

/* =============== SERVICES =========== */
    .services__container {
        grid-template-columns: repeat(4, 1fr);
        max-width: 400px;
        height: 250px;
        overflow-x: scroll;
    }

    .services__container::-webkit-scrollbar {
        height: 8px;
        background: #e7e7e7;
    }

    .services__container::-webkit-scrollbar-thumb {
        background: #6E57E0;
    }

    .services__content {
        width: 170px;
        height: 200px;
    }

    /*======================= SERVICES MODAL ================= */

    .services__modal-content {
        margin-top: 50px;
        height: 420px;
        overflow-y: scroll;
    }

    .services__modal-content::-webkit-scrollbar {
        width: 5px;
        background-color: #6E57E0;
    }

    .services__modal-content::-webkit-scrollbar-thumb {
        background-color: #e7e7e7;
        border-radius: 8px;
    }


    /* ========== PLANOS ========== */
    .planos__container {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        justify-items: center
    }

    .planos__content {
        margin-bottom: 15px;
    }


    /* ======================= DEPOIMENTOS ================= */

    .listaDeDps {
        /*display: flex;*/
        grid-template-columns: 1fr;
        justify-items: center;
        height: 400px;
        margin: auto;
        background: transparent;
    }

    .dpColum1 {
        width: 300px;
        text-align: center;
    }

    .dpColum2 , .dpColum3 {
        display: none;
    }

    /* =========== MAPA DO SITE ============ */

    .descricaoMapaSite {
        display: block;
        height: 600px;
    }

    .mapa-numeros > ul {
        display: flex;
        flex-wrap: wrap;
    }
}









 /* =================== para tamanho medio =============== */

 @media screen and (min-width: 568px) {
 
     .portfolio__container {
         margin: auto;
         width: 800px;
     }
 
     .portfolio__content,
     .about,
     .contact__container,
     .footer__container{
         grid-template-columns: repeat(2 , 1fr);
     }
 
     .qualification__sections {
         display: grid;
         grid-template-columns: .6fr;
         justify-content: center;
     }
 }
 
 @media screen and (min-width: 768px ){
    .container {
     margin-left: auto;
     margin-right: auto;
    } 
 
    body {
     margin: 0;
    }
 
    .section{
     padding: 6rem 0 2rem;
    }
 
    .section__subtitle {
     margin-bottom: 4rem;
    }
 
    .header,
    .main,
    .footer__container {
     padding: 0 1rem;
    }
 
    .nav__icon, .nav__close , .nav__toggle {
     display: none;
    }
 
    .nav__list {
     display: flex;
     column-gap: 2rem;
    }
 
    .nav__menu{
     margin-left: auto;
    }
 
 }
 
 
     /* para tamanho grandes */
 
 @media screen and (min-width: 1024px) {
     .header, .main , .footer__container {
         padding: 0;
     }
 
     .portfolio__content {
         column-gap: 5rem;
     }
 
     .swiper-portfolio-icon {
         font-size: 3.5rem;
     }
 
     .swiper-button-prev {
         left: -3.5rem;
     }
     .swiper-button-next {
         right: -3.5rem;
     }
 
     .swiper-container-horizontal > .swiper-pagination-bullets {
         bottom: -4.5rem;
     }
 }