
.conteudoPrincipal {
    position: absolute;
    padding: 10px;
    background: rgba(230, 230, 230, 0.801);
    width: 950px;
    height: 800px;
    top: 100px;
    left: 330px;
    border-radius: 8px;
}